#headerBkg {
    width: fit-content;
    height: auto;
    background-color: bisque;
    margin: 0 auto;
    padding: 0 15px;
    border-radius: 10px;
}

#flexDiv {
    display: flex;
    justify-content: center;
}

#flexForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1, h2, ul {
    text-align: center;
    font-family: 'Lobster'
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

ul {
    font-size: 30px;
}

.entry {
    display: grid;
    grid-template-columns: 20px repeat(4, auto) 55px;
    grid-template-rows: 20px repeat(6, auto) 28px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
    margin: 15px 20px;
    text-align: center;
}

.entry>img {
    width: 75%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 8;
    margin: 0 auto;
    border-radius: 10px;
}

.entry>input {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.entry>h2 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.entry>ul {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

.entry>button {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 9;
}