/* mtg.html styling (mobile) */
#mtgBody {
    background: url("https://miro.medium.com/max/3840/1*_HhnCWCrqDSt__s5wFrKqQ.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 0;
}

#gridContainer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* d&d.html styling (mobile) */
#dndBody {
    background: url("https://wallpapercave.com/wp/wp3393340.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#dndGridContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px 0;
}

#dndGridContainer>div {
    border: 10px ridge bisque;
    border-radius: 20px;
    background: bisque;
    opacity: 80%;
    margin: 20px 0;
}

/* default styling (mobile) */
#navIcon {
    padding: 15px;
}

#flexNav {
    display: flex;
    justify-content: left;
    align-items: center;
}

#flexHead {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fetchBtn {
    margin: 0 auto;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    background: linear-gradient(to right, cornflowerblue, darkorchid)
}

h1, h3, h4, ul {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    list-style: none;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
    /* mtg.html styling (tablet) */
    #gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* d&d.html styling (tablet) */
    #dndGridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 0;
    }

    #dndGridContainer>div {
        margin: 20px;
    }
}

@media only screen and (min-width: 1366px) {
    /* mtg.html styling (desktop) */
    #gridContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    /* d&d.html styling (tablet) */
    #dndGridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px 0;
    }
}